h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.content {
  max-width: 1064px;
}
.content .product {
  margin: 50px 0;
}
.content .product-container {
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 728px;
}
.content .product-thumbnail-img {
  width: 157px;
  height: 118px;
  margin-bottom: 31px;
}
.content .product-thumbnail-img img {
  width: 75%;
}
.content .product-image {
  margin-bottom: 30px;
}
.content .product-image-show {
  width: 535px;
  height: 564px;
  margin-bottom: 36px;
}
.content .product-image-show img {
  width: 90%;
  filter: drop-shadow(0px 30px 30px rgba(25, 25, 25, 0.6));
}
.content .product-image-name {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.content .product-details {
  max-width: 700px;
}
.content .product-details .attributes,
.content .product-details .description {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.content .product-details .attributes {
  padding: 0 0 7px;
}
.content .product-details .attributes li {
  padding-bottom: 13px;
}
.content .product-details h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 20px;
}
.content .product-details .ratings img {
  padding-right: 5px;
}
.content .product-details .description {
  padding: 20px 0 17px 20px;
}
.content .product-details .description li {
  padding-bottom: 13px;
}
.content .product-details .size {
  max-width: 666px;
  height: 178px;
  padding: 32px 0;
}
.content .product-details .size button {
  width: 200px;
  height: 60px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.content .product-details .size .active {
  font-weight: 400;
}
.content .product-details .price p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0 13px;
}
.content .product-details .price h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 15px;
}
.content .product-details .price h3 span {
  font-size: 24px;
  padding-left: 11px;
}
.content .product-details .buy .quantity,
.content .product-details .buy button {
  width: 202px;
  height: 60px;
}
.content .product-details .buy .quantity {
  margin-right: 30px;
}
.content .product-details .buy .quantity button {
  width: 64px;
  font-size: 40px;
}
.content .product-details .buy .quantity-number {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  width: 74px;
}
.content .product-details .buy button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.content .product-details .buy-now-btn {
  margin-right: 30px;
}
.content .details-title {
  width: 550px;
}
.content .details-title h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 18px;
}
.content .details-text {
  padding-top: 30px;
  min-height: 400px;
}
.content .details-text-content {
  width: 70%;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.content .details-text-content p {
  padding-bottom: 30px;
}
.content .details-text-content th,
.content .details-text-content td,
.content .details-text-content .review-container {
  padding: 18px;
}
.content .details-text-content .review-container {
  margin: 18px 0;
}
.content .details-text-content .review-container .stars img {
  height: 20px;
}
.content .related-products {
  margin: 45px 0 100px;
}
.content .related-products h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  padding-bottom: 85px;
}
.content .related-products-all,
.content .related-products-group {
  gap: 25px;
}
.content .related-products-group {
  width: 700px;
}
.content .related-products-container {
  width: 400px;
}
.content .related-products-container-item {
  padding-bottom: 25px;
}
.content .related-products-container-item .top-btn {
  padding: 20px 20px 45px;
}
.content .related-products-container-item .top-btn h6 {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  height: 20px;
  min-width: 60px;
  padding: 0 16px;
}
.content .related-products-container-item .top-btn .heart {
  width: 50px;
  height: 50px;
}
.content .related-products-container-item .quick-view {
  right: 39px;
  top: 85px;
}
.content .related-products-container-item .quick-view .text {
  right: 33px;
  top: -6px;
}
.content .related-products-container-item .quick-view .text h6 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 97px;
  height: 39px;
}
.content .related-products-container-item .quick-view .text .arrow {
  height: 12px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #6F6F6F;
  left: -3px;
  position: relative;
}
.content .related-products-container-item .image {
  height: 200px;
}
.content .related-products-container-item .add-to-cart-btn {
  padding-top: 30px;
}
.content .related-products-container-item .add-to-cart-btn button {
  width: 240px;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
}
.content .related-products-container-details {
  padding-top: 30px;
}
.content .related-products-container-details h3,
.content .related-products-container-details h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.content .related-products-container-details h3 {
  padding-bottom: 10px;
}
.content .related-products-container-details h4 {
  font-weight: 600;
}
.content .related-products-container-details h4 span {
  padding-left: 10px;
}
.content .related-products .navigation {
  width: 80px;
  padding-top: 65px;
}
.content .related-products .navigation-btn {
  width: 10px;
  height: 10px;
}
