h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.newsletter {
  min-height: 120px;
}
.newsletter-container {
  max-width: 1024px;
  padding: 15px 20px;
}
.newsletter-caption {
  padding-bottom: 20px;
}
.newsletter-caption img {
  padding-right: 30px;
}
.newsletter-text h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 4px;
}
.newsletter-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.newsletter form {
  width: 90%;
  height: 65px;
}
.newsletter form input,
.newsletter form button {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding: 0 35px;
}
.newsletter form button {
  width: 250px;
  font-weight: 600;
}
