@import 'D:/BSIT/4THYEAR/OJT/FRONTEND/product_details/less/text-styles/text-styles';

.newsletter {
	min-height: 120px;

	&-container {
		max-width: 1024px;
		padding: 15px 20px;
	}

	&-caption {
		padding-bottom: 20px;

		img {
			padding-right: 33px;
		}
	}

	&-text {
		h2 {
			#text-styles(500, 28px, 34px);
			padding-bottom: 4px;
		}

		p {
			#text-styles(400, 20px, 24px);
		}
	}

	form {
		height: 73px;

		input {
			width: 447px;
			#text-styles(400, 20px, 24px);
			padding: 0 38px;
		}

		button {
			width: 250px;
			#text-styles(600, 18px, 18px);
		}
	}
}