@less: 'D:/BSIT/4THYEAR/OJT/FRONTEND/product_details/less';

@import '@{less}/text-styles/text-styles';
@import '@{less}/flex/flex';

footer {
	.footer {
		max-width: 1800px;

		&-content {
			.flex();
			.justify-content(space-between);
			.flex-wrap(wrap);
			padding: 50px 0 70px;
			border-bottom: 1px solid white;

			&-dropdown {
				h4 {
					#text-styles(500, 16px, 16px);
					padding-bottom: 25px;

					i {
						display: none;
					}
				}

				p, ul {
					#text-styles(400, 14px, 14px);
				}

				ul {
					padding: 0;
					margin: 0;
				}
			}

			.about {
				padding-bottom: 20px;

				p {
					padding-bottom: 20px;
				}

				.social-icons {
					.flex();
					.align-items(flex-end);

					& > * + * {
						margin-left: 20px;
					}
				}
			}

			.links {
				.flex();
				.justify-content(space-between);
				width: 60%;

				&-container {
					ul {
						li {
							padding-bottom: 13px;
						}
					}
				}
			}

			.contact {
				max-width: 30%;

				ul {
					li {
						padding-bottom: 18px;

						&:not(.email){
							.flex();
							.align-items(center);

							img {
								margin-right: 4px;
							}
						}

						a {
							font-weight: 500;
						}
					}
				}
			}
		}
	}

	.copyright {
		padding: 35px 0;

		.cards {
			margin-bottom: 15px;

			& > * + * {
				margin-left: 6px;
			}
		}

		.credits {
			#text-styles(400, 12px, 15px);
			
			img {
				margin-right: 4px;
			}
		}
	}
}