h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .navbar {
    min-height: 286px;
  }
  .navbar-top {
    height: 65px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.36px;
  }
  .navbar-top-content {
    max-width: 1800px;
  }
  .navbar-top-content .lang-currency {
    width: 157px;
  }
  .navbar-mid {
    min-height: 150px;
  }
  .navbar-mid-content {
    min-height: inherit;
    max-width: 1800px;
  }
  .navbar-mid-content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 50.35px;
  }
  .navbar-mid-content .search-bar {
    width: 48vw;
    height: 76px;
  }
  .navbar-mid-content .search-bar input {
    width: 33vw;
    font-weight: 300;
    font-size: 1vw;
    line-height: 24px;
    padding: 0 45px;
  }
  .navbar-mid-content .search-bar-dropdown {
    width: 9vw;
    font-weight: 300;
    font-size: 1vw;
    line-height: 24px;
  }
  .navbar-mid-content .search-bar-dropdown img {
    width: 1vw;
  }
  .navbar-mid-content .search-bar-dropdown-heading {
    height: 76px;
  }
  .navbar-mid-content .search-bar-dropdown ul {
    width: 9vw;
  }
  .navbar-mid-content .search-bar button {
    width: 63px;
    height: 66px;
  }
  .navbar-mid .user-buttons {
    width: 236px;
    gap: 36px;
  }
  .navbar-mid .user-buttons .authentication {
    font-weight: 300;
    font-size: 20px;
    line-height: 24.2px;
  }
  .navbar-mid .user-buttons .nav-icons {
    width: 65px;
  }
  .navbar-mid .user-buttons .nav-icons .cart-number {
    width: 30px;
    height: 30px;
    top: -16px;
    right: -13px;
  }
  .navbar-mid .user-buttons .nav-icons .mobile {
    display: none;
  }
  .navbar-mid .user-buttons .hamburger-menu {
    display: none;
  }
  .navbar-bottom {
    min-height: 76px;
  }
  .navbar-bottom-content {
    max-width: 1760px;
  }
  .navbar-bottom-content .categories {
    width: 20vw;
    height: 76px;
  }
  .navbar-bottom-content .categories-content {
    width: 14vw;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 29px;
  }
  .navbar-bottom-content .categories-content img {
    width: 1.4vw;
  }
  .navbar-bottom-content .categories ul {
    font-weight: 500;
    font-size: 1.3vw;
    text-align: center;
    line-height: 29px;
    padding-left: 0;
  }
  .navbar-bottom-content .categories ul li {
    padding: 1vw 0;
  }
  .navbar-bottom-content .menus {
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 19px;
  }
  .navbar-bottom-content .menus img {
    width: 0.8vw;
  }
  .navbar-bottom-content .menus-title {
    width: 7vw;
  }
  .navbar-bottom-content .menus .navbar-title {
    height: 56px;
  }
  .navbar-bottom-content .menus-level-1 {
    top: 75px;
    padding-left: 2vw;
  }
  .navbar-bottom-content .menus-level-2 {
    left: 100%;
    padding-left: 2vw;
  }
  .navbar-bottom-content .menus-level-3 {
    left: 100%;
    padding-left: 2vw;
  }
  .navbar-bottom-content .contact {
    width: 15vw;
    height: 76px;
    padding-right: 10px;
  }
  .navbar-bottom-content .contact-content {
    width: 10vw;
  }
  .navbar-bottom-content .contact-content img {
    width: 2vw;
  }
  .navbar-bottom-content .contact-content p {
    font-weight: 300;
    font-size: 0.75vw;
    line-height: inherit;
  }
  .navbar-bottom-content .contact-content a {
    font-weight: 500;
    font-size: 0.75vw;
    line-height: inherit;
  }
  .page-title {
    height: 256px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    padding-bottom: 20px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.15em;
  }
  .content {
    max-width: 1802px;
  }
  .content .product {
    max-width: 1665px;
    margin: 96px 0;
    gap: 34px;
  }
  .content .product-container {
    justify-content: space-around;
    gap: 34px;
  }
  .content .product-thumbnail-img {
    width: 200px;
    height: 151px;
    margin-bottom: 39px;
  }
  .content .product-thumbnail-img img {
    width: 75%;
  }
  .content .product-image {
    margin-bottom: 50px;
  }
  .content .product-image-show {
    width: 693px;
    height: 719px;
    margin-bottom: 45px;
  }
  .content .product-image-show img {
    width: 90%;
    filter: drop-shadow(0px 40px 40px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .content .product-details {
    max-width: 700px;
  }
  .content .product-details .attributes {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 7px;
  }
  .content .product-details .attributes li {
    padding-bottom: 13px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
  .content .product-details .ratings img {
    padding-right: 5px;
  }
  .content .product-details .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 17px 20px;
  }
  .content .product-details .description li {
    padding-bottom: 13px;
  }
  .content .product-details .size {
    max-width: 666px;
    height: 178px;
    padding: 32px 0;
  }
  .content .product-details .size button {
    width: 200px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .content .product-details .size .active {
    font-weight: 400;
  }
  .content .product-details .price p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 13px;
  }
  .content .product-details .price h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }
  .content .product-details .price h3 span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .product-details .buy .quantity {
    width: 202px;
    height: 60px;
    margin-right: 30px;
  }
  .content .product-details .buy .quantity button {
    width: 64px;
    font-size: 40px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: 74px;
  }
  .content .product-details .buy button {
    width: 202px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 30px;
  }
  .content .details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 608px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 23px;
  }
  .content .details-text {
    padding-top: 38px;
    min-height: 421px;
  }
  .content .details-text-content {
    width: 57%;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .content .details-text-content p {
    padding-bottom: 35px;
  }
  .content .details-text-content th,
  .content .details-text-content td {
    padding: 20px;
  }
  .content .details-text-content .review-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #F0F0F0;
  }
  .content .details-text-content .review-container .stars img {
    height: 20px;
  }
  .content .related-products {
    margin: 52px 0 168px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 96px;
  }
  .content .related-products-all {
    gap: 30px;
  }
  .content .related-products-group {
    gap: 30px;
  }
  .content .related-products-container {
    width: 418px;
  }
  .content .related-products-container-item {
    padding-bottom: 28px;
  }
  .content .related-products-container-item .top-btn {
    padding: 22px 22px 49px;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    height: 26px;
    min-width: 67px;
    padding: 0 20px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 60px;
    height: 60px;
  }
  .content .related-products-container-item .quick-view {
    right: 39px;
    top: 104px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 33px;
    top: -6px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 97px;
    height: 39px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #6F6F6F;
    left: -3px;
    position: relative;
  }
  .content .related-products-container-item .image {
    height: 300px;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 35px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    width: 248px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    gap: 9px;
  }
  .content .related-products-container-details {
    padding-top: 38px;
  }
  .content .related-products-container-details h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 13px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .content .related-products-container-details h4 span {
    padding-left: 14px;
  }
  .content .related-products .navigation {
    width: 86px;
    padding-top: 69px;
  }
  .content .related-products .navigation-btn {
    width: 14px;
    height: 14px;
  }
  .newsletter {
    min-height: 120px;
  }
  .newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1518px;
    gap: 20px;
    padding: 15px;
  }
  .newsletter-caption img {
    padding-right: 33px;
  }
  .newsletter-text h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 4px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter form {
    height: 73px;
  }
  .newsletter form input {
    width: 447px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 0 38px;
  }
  .newsletter form button {
    width: 268px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .footer-container {
    max-width: 1800px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 58px 0 84px;
    border-bottom: 1px solid white;
    gap: 20px;
  }
  .footer-content .about {
    width: 359px;
  }
  .footer-content .about h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .about h4 img {
    display: none;
  }
  .footer-content .about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .footer-content .about .social-icons {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 48.31px;
  }
  .footer-content .about .social-icons img:hover {
    padding-bottom: 17px;
  }
  .footer-content .links {
    display: flex;
    gap: 130px;
  }
  .footer-content .links-container h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .links-container h4 img {
    display: none;
  }
  .footer-content .links-container ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }
  .footer-content .links-container ul li {
    padding-bottom: 13px;
  }
  .footer-content .contact {
    max-width: 343px;
  }
  .footer-content .contact h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .contact h4 img {
    display: none;
  }
  .footer-content .contact ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  .footer-content .contact ul li {
    padding-bottom: 21px;
  }
  .footer-content .contact ul li:not(.email) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .footer-content .contact ul li a {
    font-weight: 500;
  }
  .footer .copyright {
    padding: 46px 0;
    gap: 20px;
  }
  .footer .copyright .cards {
    gap: 9px;
  }
  .footer .copyright .credits {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    gap: 6px;
  }
}
