@import 'text-styles/text-styles';
@import 'text-styles/colors';

@import 'page-sections/header';
@import 'page-sections/navbar';
@import 'page-sections/footer';

@import 'product-details/title';
@import 'product-details/content';
@import 'product-details/newsletter';

@import 'breakpoints/desktop/desktop';
@import 'breakpoints/tablet/tablet';
@import 'breakpoints/mobile/mobile';

* {
	font-family: @font-family[inter];
	box-sizing: border-box;
	word-break: break-word;
}

body {
	margin: auto;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		color: @color[pomegranate];
	}
}

ul {
	list-style-type: none;
}

button, a {
	cursor: pointer;
}

.expand {
	transform: rotate(180deg);
}