h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .navbar {
    min-height: 286px;
  }
  .navbar-top {
    height: 65px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.36px;
  }
  .navbar-top-content {
    max-width: 1800px;
  }
  .navbar-top-content .lang-currency {
    width: 157px;
  }
  .navbar-mid {
    min-height: 150px;
  }
  .navbar-mid-content {
    min-height: inherit;
    max-width: 1800px;
  }
  .navbar-mid-content h2 {
    font-weight: 700;
    font-size: 39px;
    line-height: 50.35px;
  }
  .navbar-mid-content .search-bar {
    width: 50vw;
    height: 4vw;
  }
  .navbar-mid-content .search-bar input {
    width: 32vw;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 0 2vw;
  }
  .navbar-mid-content .search-bar-dropdown {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    height: inherit;
    position: relative;
  }
  .navbar-mid-content .search-bar-dropdown img {
    width: 1vw;
  }
  .navbar-mid-content .search-bar-dropdown-heading {
    height: inherit;
  }
  .navbar-mid-content .search-bar-dropdown ul {
    width: 100%;
  }
  .navbar-mid-content .search-bar button {
    width: 3.5vw;
    height: inherit;
  }
  .navbar-mid-content .search-bar button img {
    width: 1.2vw;
  }
  .navbar-mid .user-buttons {
    width: 236px;
    gap: 36px;
  }
  .navbar-mid .user-buttons .authentication {
    font-weight: 300;
    font-size: 20px;
    line-height: 24.2px;
  }
  .navbar-mid .user-buttons .nav-icons {
    width: 65px;
  }
  .navbar-mid .user-buttons .nav-icons .cart-number {
    width: 30px;
    height: 30px;
    top: -16px;
    right: -13px;
  }
  .navbar-mid .user-buttons .nav-icons .mobile {
    display: none;
  }
  .navbar-mid .user-buttons .hamburger-menu {
    display: none;
  }
  .navbar-bottom {
    min-height: 76px;
  }
  .navbar-bottom-content {
    max-width: 1760px;
  }
  .navbar-bottom-content .categories {
    width: 20vw;
    height: 76px;
  }
  .navbar-bottom-content .categories-content {
    width: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
  }
  .navbar-bottom-content .categories-content img {
    width: 1.4vw;
  }
  .navbar-bottom-content .categories ul {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
    padding-left: 0;
  }
  .navbar-bottom-content .categories ul li {
    padding: 1vw 0;
  }
  .navbar-bottom-content .menus {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .navbar-bottom-content .menus img {
    width: 1vw;
  }
  .navbar-bottom-content .menus-title {
    width: 10vw;
  }
  .navbar-bottom-content .menus .navbar-title {
    height: 56px;
  }
  .navbar-bottom-content .menus-level-1 {
    top: 75px;
    padding-left: 2vw;
  }
  .navbar-bottom-content .menus-level-2 {
    left: 100%;
    padding-left: 2vw;
  }
  .navbar-bottom-content .menus-level-3 {
    left: 100%;
    padding-left: 2vw;
  }
  .navbar-bottom-content .contact {
    width: 17vw;
    height: 76px;
    padding-right: 10px;
  }
  .navbar-bottom-content .contact-content {
    width: inherit;
    gap: 2vw;
  }
  .navbar-bottom-content .contact-content img {
    width: 2vw;
  }
  .navbar-bottom-content .contact-content p {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
  }
  .navbar-bottom-content .contact-content a {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }
  .page-title {
    height: 256px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    padding-bottom: 20px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.15em;
  }
  .content {
    max-width: 1802px;
  }
  .content .product {
    max-width: 1665px;
    margin: 96px 0;
    gap: 34px;
  }
  .content .product-container {
    justify-content: space-around;
    gap: 34px;
  }
  .content .product-thumbnail-img {
    width: 200px;
    height: 151px;
    margin-bottom: 39px;
  }
  .content .product-thumbnail-img img {
    width: 75%;
  }
  .content .product-image {
    margin-bottom: 50px;
  }
  .content .product-image-show {
    width: 693px;
    height: 719px;
    margin-bottom: 45px;
  }
  .content .product-image-show img {
    width: 90%;
    filter: drop-shadow(0px 40px 40px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .content .product-details {
    max-width: 700px;
  }
  .content .product-details .attributes {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 7px;
  }
  .content .product-details .attributes li {
    padding-bottom: 13px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
  .content .product-details .ratings img {
    padding-right: 5px;
  }
  .content .product-details .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 17px 20px;
  }
  .content .product-details .description li {
    padding-bottom: 13px;
  }
  .content .product-details .size {
    max-width: 666px;
    height: 178px;
    padding: 32px 0;
  }
  .content .product-details .size button {
    width: 200px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .content .product-details .size .active {
    font-weight: 400;
  }
  .content .product-details .price p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 13px;
  }
  .content .product-details .price h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }
  .content .product-details .price h3 span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .product-details .buy .quantity {
    width: 202px;
    height: 60px;
    margin-right: 30px;
  }
  .content .product-details .buy .quantity button {
    width: 64px;
    font-size: 40px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: 74px;
  }
  .content .product-details .buy button {
    width: 202px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 30px;
  }
  .content .details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 608px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 23px;
  }
  .content .details-text {
    padding-top: 38px;
    min-height: 421px;
  }
  .content .details-text-content {
    width: 57%;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .content .details-text-content p {
    padding-bottom: 35px;
  }
  .content .details-text-content th,
  .content .details-text-content td {
    padding: 20px;
  }
  .content .details-text-content .review-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #F0F0F0;
  }
  .content .details-text-content .review-container .stars img {
    height: 20px;
  }
  .content .related-products {
    margin: 52px 0 168px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 96px;
  }
  .content .related-products-all {
    gap: 30px;
  }
  .content .related-products-group {
    gap: 30px;
  }
  .content .related-products-container {
    width: 418px;
  }
  .content .related-products-container-item {
    padding-bottom: 28px;
  }
  .content .related-products-container-item .top-btn {
    padding: 22px 22px 49px;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    height: 26px;
    min-width: 67px;
    padding: 0 20px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 60px;
    height: 60px;
  }
  .content .related-products-container-item .quick-view {
    right: 39px;
    top: 104px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 33px;
    top: -6px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 97px;
    height: 39px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #6F6F6F;
    left: -3px;
    position: relative;
  }
  .content .related-products-container-item .image {
    height: 300px;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 35px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    width: 248px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    gap: 9px;
  }
  .content .related-products-container-details {
    padding-top: 38px;
  }
  .content .related-products-container-details h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 13px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .content .related-products-container-details h4 span {
    padding-left: 14px;
  }
  .content .related-products .navigation {
    width: 86px;
    padding-top: 69px;
  }
  .content .related-products .navigation-btn {
    width: 14px;
    height: 14px;
  }
  .newsletter {
    min-height: 120px;
  }
  .newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1518px;
    gap: 20px;
    padding: 15px;
  }
  .newsletter-caption img {
    padding-right: 33px;
  }
  .newsletter-text h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 4px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter form {
    height: 73px;
  }
  .newsletter form input {
    width: 24vw;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 0 2vw;
  }
  .newsletter form button {
    width: 14vw;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .footer-container {
    max-width: 1800px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 58px 0 84px;
    border-bottom: 1px solid white;
    gap: 20px;
  }
  .footer-content .about {
    width: 19vw;
  }
  .footer-content .about h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .about h4 img {
    display: none;
  }
  .footer-content .about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .footer-content .about .social-icons {
    display: flex;
    align-items: flex-end;
    gap: 1vw;
    height: 48.31px;
  }
  .footer-content .about .social-icons img:hover {
    padding-bottom: 17px;
  }
  .footer-content .links {
    display: flex;
    gap: 6.5vw;
  }
  .footer-content .links-container h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .links-container h4 img {
    display: none;
  }
  .footer-content .links-container ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }
  .footer-content .links-container ul li {
    padding-bottom: 13px;
  }
  .footer-content .contact {
    max-width: 18vw;
  }
  .footer-content .contact h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .contact h4 img {
    display: none;
  }
  .footer-content .contact ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  .footer-content .contact ul li {
    padding-bottom: 21px;
  }
  .footer-content .contact ul li:not(.email) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .footer-content .contact ul li a {
    font-weight: 500;
  }
  .footer .copyright {
    padding: 46px 0;
    gap: 20px;
  }
  .footer .copyright .cards {
    gap: 9px;
  }
  .footer .copyright .credits {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    gap: 6px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .navbar-top {
    height: 50px;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
  }
  .navbar-top-content .lang-currency {
    width: 120px;
  }
  .navbar-mid {
    min-height: 100px;
  }
  .navbar-mid-content {
    min-height: inherit;
  }
  .navbar-mid-content h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  .navbar-mid-content .search-bar {
    width: 400px;
    height: 60px;
  }
  .navbar-mid-content .search-bar input {
    width: 70%;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 0 20px;
  }
  .navbar-mid-content .search-bar-dropdown {
    width: 160px;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
  }
  .navbar-mid-content .search-bar-dropdown-heading {
    height: 60px;
  }
  .navbar-mid-content .search-bar-dropdown ul {
    width: 120px;
  }
  .navbar-mid-content .search-bar button {
    width: 60px;
    height: 60px;
  }
  .navbar-mid .user-buttons {
    width: 160px;
  }
  .navbar-mid .user-buttons .authentication {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
  .navbar-mid .user-buttons .nav-icons {
    width: 45px;
  }
  .navbar-mid .user-buttons .nav-icons img {
    width: 17px;
  }
  .navbar-mid .user-buttons .nav-icons .cart-number {
    font-size: 12px;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -6px;
  }
  .navbar-mid .user-buttons .nav-icons .mobile {
    display: none;
  }
  .navbar-mid .user-buttons .hamburger-menu {
    display: none;
  }
  .navbar-bottom {
    height: 60px;
  }
  .navbar-bottom-content {
    height: inherit;
  }
  .navbar-bottom-content .categories {
    width: 150px;
    height: inherit;
  }
  .navbar-bottom-content .categories-content {
    width: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  .navbar-bottom-content .categories-content img {
    width: 20px;
  }
  .navbar-bottom-content .categories ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px 10px 30px;
  }
  .navbar-bottom-content .categories ul li {
    padding: 10px 0;
  }
  .navbar-bottom-content .menus {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
  .navbar-bottom-content .menus-title {
    width: 90px;
  }
  .navbar-bottom-content .menus .navbar-title {
    height: 50px;
  }
  .navbar-bottom-content .menus-level-1 {
    top: 55px;
    padding: 10px 0 0 20px;
  }
  .navbar-bottom-content .menus-level-2 {
    left: 65px;
    top: 0;
    padding-left: 20px;
  }
  .navbar-bottom-content .menus-level-3 {
    left: 85px;
    top: 0;
    padding-left: 20px;
  }
  .navbar-bottom-content .contact {
    height: inherit;
  }
  .navbar-bottom-content .contact-content {
    width: 140px;
    padding: 0 10px;
  }
  .navbar-bottom-content .contact-content img {
    width: 25px;
  }
  .navbar-bottom-content .contact-content p {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
  }
  .navbar-bottom-content .contact-content a {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }
  .page-title {
    height: 200px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    padding-bottom: 15px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .content {
    max-width: 1064px;
  }
  .content .product {
    margin: 50px 0;
  }
  .content .product-container {
    width: 728px;
    justify-content: space-between;
  }
  .content .product-thumbnail-img {
    width: 157px;
    height: 118px;
    margin-bottom: 31px;
  }
  .content .product-thumbnail-img img {
    width: 75%;
  }
  .content .product-image {
    margin-bottom: 30px;
  }
  .content .product-image-show {
    width: 535px;
    height: 564px;
    margin-bottom: 36px;
  }
  .content .product-image-show img {
    width: 90%;
    filter: drop-shadow(0px 30px 30px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .content .product-details {
    max-width: 700px;
  }
  .content .product-details .attributes {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 7px;
  }
  .content .product-details .attributes li {
    padding-bottom: 13px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
  .content .product-details .ratings img {
    padding-right: 5px;
  }
  .content .product-details .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 17px 20px;
  }
  .content .product-details .description li {
    padding-bottom: 13px;
  }
  .content .product-details .size {
    max-width: 666px;
    height: 178px;
    padding: 32px 0;
  }
  .content .product-details .size button {
    width: 200px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .content .product-details .size .active {
    font-weight: 400;
  }
  .content .product-details .price p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 13px;
  }
  .content .product-details .price h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }
  .content .product-details .price h3 span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .product-details .buy .quantity {
    width: 202px;
    height: 60px;
    margin-right: 30px;
  }
  .content .product-details .buy .quantity button {
    width: 64px;
    font-size: 40px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: 74px;
  }
  .content .product-details .buy button {
    width: 202px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 30px;
  }
  .content .details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 608px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 23px;
  }
  .content .details-text {
    padding-top: 38px;
    min-height: 421px;
  }
  .content .details-text-content {
    width: 70%;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .content .details-text-content p {
    padding-bottom: 35px;
  }
  .content .details-text-content th,
  .content .details-text-content td {
    padding: 20px;
  }
  .content .details-text-content .review-container {
    margin: 20px 0;
    padding: 20px;
  }
  .content .details-text-content .review-container .stars img {
    height: 20px;
  }
  .content .related-products {
    margin: 52px 0 168px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 96px;
  }
  .content .related-products-all {
    gap: 30px;
  }
  .content .related-products-group {
    width: 728px;
    gap: 30px;
    flex-wrap: nowrap !important;
  }
  .content .related-products-container {
    width: 418px;
  }
  .content .related-products-container-item {
    padding-bottom: 28px;
  }
  .content .related-products-container-item .top-btn {
    padding: 22px 22px 49px;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    height: 26px;
    min-width: 67px;
    padding: 0 20px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 60px;
    height: 60px;
  }
  .content .related-products-container-item .quick-view {
    right: 39px;
    top: 104px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 33px;
    top: -6px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 97px;
    height: 39px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #6F6F6F;
    left: -3px;
    position: relative;
  }
  .content .related-products-container-item .image {
    height: 300px;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 35px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    width: 248px;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    gap: 9px;
  }
  .content .related-products-container-details {
    padding-top: 38px;
  }
  .content .related-products-container-details h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 13px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .content .related-products-container-details h4 span {
    padding-left: 14px;
  }
  .content .related-products .navigation {
    width: 86px;
    padding-top: 69px;
  }
  .content .related-products .navigation-btn {
    width: 14px;
    height: 14px;
  }
  .newsletter {
    min-height: 120px;
  }
  .newsletter-container {
    max-width: 1024px;
    padding: 15px 20px;
  }
  .newsletter-caption {
    padding-bottom: 20px;
  }
  .newsletter-caption img {
    padding-right: 33px;
  }
  .newsletter-text h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 4px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter form {
    height: 73px;
  }
  .newsletter form input {
    width: 447px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 0 38px;
  }
  .newsletter form button {
    width: 250px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }
  .footer-container {
    max-width: 1800px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 58px 0 84px;
    border-bottom: 1px solid white;
    gap: 20px;
  }
  .footer-content .about {
    padding-bottom: 20px;
  }
  .footer-content .about h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .about h4 img {
    display: none;
  }
  .footer-content .about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 13px;
  }
  .footer-content .about .social-icons {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 48.31px;
  }
  .footer-content .about .social-icons img:hover {
    padding-bottom: 17px;
  }
  .footer-content .links {
    display: flex;
    gap: 130px;
  }
  .footer-content .links-container h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  .footer-content .links-container h4 img {
    display: none;
  }
  .footer-content .links-container ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
  }
  .footer-content .links-container ul li {
    padding-bottom: 13px;
  }
  .footer-content .contact h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 20px 0;
  }
  .footer-content .contact h4 img {
    display: none;
  }
  .footer-content .contact ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
  .footer-content .contact ul li {
    padding-bottom: 21px;
  }
  .footer-content .contact ul li:not(.email) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .footer-content .contact ul li a {
    font-weight: 500;
  }
  .footer .copyright {
    padding: 46px 0;
    gap: 20px;
  }
  .footer .copyright .cards {
    gap: 9px;
  }
  .footer .copyright .credits {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    gap: 6px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    height: 56px;
  }
  .navbar-top {
    display: none;
  }
  .navbar-mid {
    height: inherit;
  }
  .navbar-mid-content {
    height: inherit;
  }
  .navbar-mid-content h2 {
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: black;
  }
  .navbar-mid-content .search-bar {
    display: none !important;
  }
  .navbar-mid .user-buttons {
    width: 137px;
  }
  .navbar-mid .user-buttons .authentication {
    display: none !important;
  }
  .navbar-mid .user-buttons .nav-icons {
    width: 94px;
  }
  .navbar-mid .user-buttons .nav-icons img {
    width: 16px;
  }
  .navbar-mid .user-buttons .nav-icons .cart-number {
    font-weight: 500;
    font-size: 7px;
    line-height: 8px;
    width: 12px;
    height: 12px;
    color: white;
    top: -5px;
    right: -5px;
  }
  .navbar-mid .user-buttons .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E73C17;
    padding: 8px;
    cursor: pointer;
  }
  .navbar-mid .user-buttons .hamburger-menu img {
    width: 14px;
  }
  .navbar-mid .user-buttons .mobile {
    display: flex !important;
  }
  .navbar-mid .user-buttons .desktop {
    display: none !important;
  }
  .navbar-bottom {
    display: none;
  }
  .page-title {
    height: 93px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
  .content {
    max-width: 360px;
  }
  .content .product {
    max-width: inherit;
    margin: 30px 0 37px;
  }
  .content .product-container {
    flex-wrap: wrap;
  }
  .content .product-thumbnail {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
  }
  .content .product-thumbnail-img {
    width: 83px;
    height: 89px;
  }
  .content .product-thumbnail-img img {
    width: 80%;
  }
  .content .product-thumbnail-img:nth-child(1) {
    display: none;
  }
  .content .product-thumbnail-img .active {
    border: 1px solid #E73C17;
  }
  .content .product-image {
    order: -1;
  }
  .content .product-image-show {
    width: 280px;
    height: 241px;
    margin-bottom: 7px;
  }
  .content .product-image-show img {
    width: 108%;
    filter: drop-shadow(0px 10px 10px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 6px;
    line-height: 7px;
    padding-bottom: 13px;
  }
  .content .product-details .attributes {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    padding: 0 0 3px;
  }
  .content .product-details .attributes li {
    padding-bottom: 7px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 3px;
  }
  .content .product-details .ratings img {
    width: 10px;
  }
  .content .product-details .description {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    padding: 9px 0 10px 11px;
  }
  .content .product-details .description li {
    padding-bottom: 10px;
  }
  .content .product-details .size {
    display: flex;
    gap: 6px;
    height: 87px;
    padding: 16px 0;
  }
  .content .product-details .size button {
    width: 66px;
    height: 24px;
    font-weight: 300;
    font-size: 7px;
    line-height: 8px;
    margin-bottom: 2px;
  }
  .content .product-details .size .active {
    font-weight: 500;
  }
  .content .product-details .price p {
    font-weight: 300;
    font-size: 7px;
    line-height: 8px;
    padding: 8px 0 9px;
  }
  .content .product-details .price h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 16px;
  }
  .content .product-details .price h3 span {
    font-size: 10px;
    padding-left: 5px;
  }
  .content .product-details .buy .quantity {
    width: 70px;
    height: 25px;
    margin-right: 10px;
  }
  .content .product-details .buy .quantity button {
    width: 22px;
    font-size: 15px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    width: 25px;
  }
  .content .product-details .buy button {
    width: 70px;
    height: 25px;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 10px;
  }
  .content .details-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 202px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 7px;
  }
  .content .details-text {
    padding-top: 16px;
  }
  .content .details-text-content {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
  }
  .content .details-text-content p {
    padding-bottom: 20px;
  }
  .content .details-text-content li {
    padding-bottom: 10px;
  }
  .content .details-text-content li:nth-child(n + 3) {
    display: none;
  }
  .content .details-text-content li span {
    display: block !important;
  }
  .content .details-text-content th,
  .content .details-text-content td {
    padding: 10px;
  }
  .content .details-text-content .review-container {
    margin: 10px 0;
    padding: 10px;
  }
  .content .details-text-content .review-container .stars img {
    height: 10px;
  }
  .content .related-products {
    margin: 35px 0 59px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 20px;
  }
  .content .related-products-group {
    gap: 16px;
  }
  .content .related-products-group:nth-child(2) {
    display: none;
  }
  .content .related-products-container {
    width: 132px;
  }
  .content .related-products-container-item {
    padding-bottom: 13px;
  }
  .content .related-products-container-item .top-btn {
    padding: 9px 9px 23px;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 6px;
    line-height: 6px;
    height: 11px;
    min-width: 31px;
    padding: 0 9px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 20px;
    height: 20px;
  }
  .content .related-products-container-item .top-btn .heart img {
    width: 10px;
    height: 10px;
  }
  .content .related-products-container-item .quick-view {
    right: 14px;
    top: 30px;
  }
  .content .related-products-container-item .quick-view img {
    width: 10px;
    height: 10px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 13px;
    top: 1px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 6px;
    line-height: 6px;
    width: 45px;
    height: 19px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 4px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #6F6F6F;
  }
  .content .related-products-container-item .image {
    height: 106px;
  }
  .content .related-products-container-item .image img {
    width: 85%;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 9px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    width: 97px;
    height: 25px;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    gap: 3px;
  }
  .content .related-products-container-item .add-to-cart-btn button img {
    width: 10px;
  }
  .content .related-products-container-details {
    padding-top: 12px;
  }
  .content .related-products-container-details h3 {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    padding-bottom: 4px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }
  .content .related-products-container-details h4 span {
    padding-left: 5px;
  }
  .content .related-products .navigation {
    width: 46px;
    padding-top: 21px;
  }
  .content .related-products .navigation-btn {
    width: 6px;
    height: 6px;
  }
  .content .related-products .navigation-btn:nth-child(5) {
    display: block !important;
  }
  .newsletter {
    min-height: 169px;
  }
  .newsletter-container {
    width: 320px;
    padding: 0 20px;
  }
  .newsletter-caption {
    padding-bottom: 29px;
  }
  .newsletter-caption img {
    width: 20px;
    height: 21px;
    margin-right: 10px;
  }
  .newsletter-text h2 {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 3px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .newsletter form {
    height: 37px;
  }
  .newsletter form input {
    width: 180px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 0 17px;
  }
  .newsletter form button {
    width: 100px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .footer-content {
    padding-top: 29px;
  }
  .footer-content .about {
    padding-bottom: 21px;
  }
  .footer-content .about h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #6F6F6F;
    padding: 0 12px;
    height: 31px;
    cursor: pointer;
  }
  .footer-content .about h4 img {
    display: block !important;
  }
  .footer-content .about-content {
    display: none;
    padding: 20px;
    background: gray;
  }
  .footer-content .about-content p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: justify;
    padding-bottom: 10px;
  }
  .footer-content .about-content .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer-content .about-content .social-icons img {
    width: 20px;
    height: 20px;
  }
  .footer-content .links-container {
    padding-bottom: 21px;
  }
  .footer-content .links-container h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #6F6F6F;
    padding: 0 12px;
    height: 31px;
    cursor: pointer;
  }
  .footer-content .links-container h4 img {
    display: block !important;
  }
  .footer-content .links-container ul {
    display: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 20px 20px 7px;
    margin: 0;
    background: gray;
  }
  .footer-content .links-container ul li {
    padding-bottom: 13px;
  }
  .footer-content .contact h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background: #6F6F6F;
    padding: 0 12px;
    height: 31px;
    cursor: pointer;
  }
  .footer-content .contact h4 img {
    display: block !important;
  }
  .footer-content .contact ul {
    display: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 20px 20px 10px;
    background: gray;
  }
  .footer-content .contact ul li {
    padding-bottom: 10px;
  }
  .footer-content .contact ul li:not(.email) {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .footer-content .contact ul li a {
    font-weight: 500;
  }
  .footer-content .contact ul li img {
    width: 20px;
    height: 20px;
  }
  .footer .copyright {
    padding: 27px 0 42px;
    gap: 15px;
  }
  .footer .copyright .cards {
    gap: 5px;
  }
  .footer .copyright .cards img {
    width: 20px;
  }
  .footer .copyright .credits {
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
    gap: 3px;
  }
  .footer .copyright .credits img {
    width: 10px;
  }
  .hamburger-menu-content {
    width: 100vw;
    height: 100vh;
    background: #D9D9D9;
    z-index: 5;
    padding: 20px 20px 100px;
  }
  .hamburger-menu-content .menus {
    margin: 0;
    padding: 0;
  }
  .hamburger-menu-content .menus-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger-menu-content .menus li {
    padding-bottom: 20px;
  }
  .hamburger-menu-content .menus li:nth-child(1) {
    padding-top: 10px;
  }
  .hamburger-menu-content .menus li:last-child {
    padding-bottom: 0;
  }
  .hamburger-menu-content .menus li ul {
    padding-left: 20px;
  }
  .hamburger-menu-content .menus .active {
    color: #E73C17;
  }
  .hamburger-menu-content .contact-content {
    padding-top: 50px;
    text-align: center;
  }
}
* {
  font-family: 'Inter';
  box-sizing: border-box;
}
body {
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #E73C17;
}
ul {
  list-style-type: none;
}
button,
a {
  cursor: pointer;
}
.expand {
  rotate: 180deg;
}
.navbar-top {
  background: #2F333A;
  color: #FFFFFF;
}
.navbar-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 20px;
  margin: auto;
}
.navbar-top-content .lang-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-top-content .lang-currency-content {
  display: flex;
  align-items: center;
}
.navbar-mid-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #191919;
  margin: auto;
  padding: 0 20px;
}
.navbar-mid-content h2 {
  font-family: 'Inconsolata';
}
.navbar-mid-content h2 span {
  color: #E73C17;
}
.navbar-mid-content h2 a:hover {
  color: #191919;
}
.navbar-mid-content .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969696;
  border: 2px solid #F0F0F0;
}
.navbar-mid-content .search-bar input {
  height: inherit;
  border: 2px solid #F0F0F0;
}
.navbar-mid-content .search-bar input::placeholder {
  color: inherit;
}
.navbar-mid-content .search-bar-dropdown {
  color: #191919;
  cursor: pointer;
}
.navbar-mid-content .search-bar-dropdown-heading {
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.navbar-mid-content .search-bar-dropdown ul {
  display: none;
  position: absolute;
  background: #F0F0F0;
  margin: 0;
  padding-left: 20px;
  z-index: 1;
}
.navbar-mid-content .search-bar-dropdown ul li {
  padding: 20px 0;
}
.navbar-mid-content .search-bar-dropdown ul li:hover {
  color: #E73C17;
}
.navbar-mid-content .search-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2F333A;
  border: none;
}
.navbar-mid-content .search-bar button:hover {
  background: #E73C17;
}
.navbar-mid .user-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mid .user-buttons .authentication {
  cursor: pointer;
}
.navbar-mid .user-buttons .authentication span {
  color: #F0F0F0;
}
.navbar-mid .user-buttons .authentication a:hover {
  color: #E73C17;
}
.navbar-mid .user-buttons .nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mid .user-buttons .nav-icons > * {
  cursor: pointer;
}
.navbar-mid .user-buttons .nav-icons > *:hover {
  transform: scale(1.1);
}
.navbar-mid .user-buttons .nav-icons .cart {
  position: relative;
}
.navbar-mid .user-buttons .nav-icons .cart-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background: #E23000;
}
.navbar-bottom {
  position: relative;
  background: #2F333A;
}
.navbar-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar-bottom-content .categories {
  position: relative;
  background: #E73C17;
  color: #FFFFFF;
  order: -1;
}
.navbar-bottom-content .categories-content {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.navbar-bottom-content .categories ul {
  display: none;
  position: absolute;
  background: #E73C17;
  margin: 0;
  width: 100%;
  z-index: 1;
}
.navbar-bottom-content .categories ul li:hover {
  color: #191919;
}
.navbar-bottom-content .menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.navbar-bottom-content .menus-title {
  display: flex;
  align-items: center;
}
.navbar-bottom-content .menus .navbar-title {
  justify-content: center;
  padding: 0;
}
.navbar-bottom-content .menus .navbar-title img {
  rotate: 0deg;
}
.navbar-bottom-content .menus img {
  rotate: 270deg;
}
.navbar-bottom-content .menus li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}
.navbar-bottom-content .menus-level-1 {
  position: absolute;
  background: #2F333A;
  width: 100%;
  z-index: 1;
}
.navbar-bottom-content .menus-level-2 {
  position: absolute;
  background: #2F333A;
  top: 0;
  z-index: 1;
}
.navbar-bottom-content .menus-level-3 {
  position: absolute;
  background: #2F333A;
  top: 0;
  width: 100%;
  z-index: 1;
}
.navbar-bottom-content .menus .active {
  color: #E73C17;
}
.navbar-bottom-content .contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #F0F0F0;
}
.navbar-bottom-content .contact-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F4F5F8;
  text-transform: uppercase;
  color: #191919;
}
.content {
  padding: 0 20px;
  margin: auto;
}
.content .product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.content .product-container {
  display: flex;
}
.content .product-thumbnail-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F0F0F0;
  cursor: pointer;
}
.content .product-thumbnail-img:hover {
  border: 1px solid #191919;
}
.content .product-thumbnail .active {
  border: 1px solid #E73C17;
}
.content .product-image-show {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F1F1;
}
.content .product-image-name {
  color: #6F6F6F;
}
.content .product-details .attributes {
  margin: 0;
}
.content .product-details .attributes li span {
  font-weight: 400;
}
.content .product-details h2 {
  text-transform: uppercase;
}
.content .product-details .description {
  color: #191919;
  list-style-type: disc;
  margin: 0;
}
.content .product-details .size {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.content .product-details .size button {
  color: #6F6F6F;
  background: none;
  border: none;
}
.content .product-details .size button:hover {
  border: 1px solid #E73C17;
}
.content .product-details .size .active {
  border: 1px solid #E73C17;
  color: #E73C17;
}
.content .product-details .price {
  color: #191919;
}
.content .product-details .price span {
  color: #D9D9D9;
  text-decoration: line-through;
}
.content .product-details .buy {
  display: flex;
}
.content .product-details .buy .quantity {
  display: flex;
}
.content .product-details .buy .quantity button {
  background: none;
  border: 1px solid #F0F0F0;
}
.content .product-details .buy .quantity button:hover {
  color: #E73C17;
}
.content .product-details .buy .quantity-number {
  text-align: center;
  border: 1px solid #F0F0F0;
}
.content .product-details .buy .quantity-number::-webkit-outer-spin-button,
.content .product-details .buy .quantity-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.content .product-details .buy-now-btn {
  background: #E73C17;
  border: none;
  color: #FFFFFF;
}
.content .product-details .buy .add-to-cart-btn {
  background: none;
  border: 1px solid #E73C17;
  color: #E73C17;
}
.content .product-details .buy .btn:hover {
  background: #D9D9D9;
}
.content .details-title {
  margin: auto;
}
.content .details-title h2 {
  color: #191919;
  cursor: pointer;
}
.content .details-title .active {
  border-bottom: 2px solid #E73C17;
}
.content .details-text {
  border-top: 1px solid #F0F0F0;
  color: #191919;
}
.content .details-text-content {
  margin: auto;
}
.content .details-text-content table,
.content .details-text-content th,
.content .details-text-content td {
  border: 1px solid black;
  border-collapse: collapse;
}
.content .details-text-content table {
  margin: auto;
  width: 100%;
}
.content .details-text-content th {
  color: #E73C17;
}
.content .details-text-content th,
.content .details-text-content td {
  text-align: left;
}
.content .details-text-content .review-container {
  border: 1px solid #F0F0F0;
}
.content .details-text-content .review-container .info p {
  float: right;
}
.content .details-text-content .review-container p {
  padding-bottom: 0;
}
.content .details-text-description ul {
  padding: 0;
  margin: 0;
}
.content .details-text-description span {
  color: #E73C17;
  cursor: pointer;
}
.content .related-products h2 {
  text-align: center;
}
.content .related-products-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content .related-products-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.content .related-products-container-item {
  position: relative;
  background: #F1F1F1;
}
.content .related-products-container-item .top-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content .related-products-container-item .top-btn h6 {
  border-radius: 100px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .related-products-container-item .top-btn .heart {
  border-radius: 50%;
  border: 1px solid #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content .related-products-container-item .top-btn .heart:hover {
  border: 1px solid #E73C17;
}
.content .related-products-container-item .top-btn .new {
  background: #12A05C;
}
.content .related-products-container-item .top-btn .sale {
  background: #E73C17;
}
.content .related-products-container-item .top-btn .hot {
  background: #FF9900;
}
.content .related-products-container-item .top-btn .warranty {
  background: #7F7CF6;
}
.content .related-products-container-item .quick-view {
  position: absolute;
}
.content .related-products-container-item .quick-view:hover .text {
  display: flex;
}
.content .related-products-container-item .quick-view .text {
  display: none;
  align-items: center;
  position: absolute;
}
.content .related-products-container-item .quick-view .text h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6F6F6F;
  border-radius: 4px;
  color: #FFFFFF;
}
.content .related-products-container-item .quick-view img {
  cursor: pointer;
}
.content .related-products-container-item .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .related-products-container-item .add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .related-products-container-item .add-to-cart-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6F6F6F;
  background: #FFFFFF;
  border: none;
}
.content .related-products-container-item .add-to-cart-btn button:hover {
  border: 1px solid #E73C17;
}
.content .related-products-container-item .add-to-cart-btn .out-of-stock {
  color: #E73C17;
}
.content .related-products-container-details {
  text-align: center;
  color: #191919;
}
.content .related-products-container-details h4 span {
  color: #D9D9D9;
  text-decoration: line-through;
}
.content .related-products .navigation {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.content .related-products .navigation-btn {
  border-radius: 50%;
  background: #F4F5F8;
  cursor: pointer;
}
.content .related-products .navigation .active {
  background: #E73C17;
}
.newsletter {
  background-image: url('../img/news-letter-bg.png');
  background-size: cover;
  background-position: center;
}
.newsletter .overlay {
  min-height: inherit;
  display: flex;
  background: rgba(25, 25, 25, 0.5);
}
.newsletter-container {
  margin: auto;
}
.newsletter-caption {
  display: flex;
  align-items: center;
}
.newsletter-text {
  color: #FFFFFF;
}
.newsletter form {
  display: flex;
}
.newsletter form input {
  height: inherit;
  color: #6F6F6F;
}
.newsletter form button {
  height: inherit;
  background: #E73C17;
  border: none;
  color: white;
}
.newsletter form button:hover {
  color: #191919;
}
.footer {
  background: #2F333A;
  color: white;
}
.footer-container {
  margin: auto;
  padding: 0 20px;
}
.footer-content .about .social-icons img {
  cursor: pointer;
}
.footer-content .contact ul {
  margin: 0;
}
.footer-content .contact ul li a {
  color: #E73C17;
}
.footer .copyright {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.footer .copyright .cards {
  display: flex;
  align-items: center;
}
.footer .copyright .credits {
  display: flex;
  align-items: center;
}
