@media only screen and (min-width: 1025px) {
  header .header-top {
    font-weight: 300;
    font-size: 16px;
    line-height: 19.36px;
    height: 65px;
  }
  header .header-top-container {
    max-width: 1800px;
  }
  header .header-top-container .lang-currency {
    width: 157px;
  }
  header .header-container {
    min-height: 150px;
  }
  header .header-content {
    max-width: 1800px;
  }
  header .header-content h2 {
    font-weight: 700;
    font-size: 39px;
    line-height: 50.35px;
  }
  header .header-content .search-bar {
    width: 50%;
    height: 76px;
  }
  header .header-content .search-bar input {
    width: 62%;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 0 5%;
  }
  header .header-content .search-bar-dropdown {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    height: inherit;
    position: relative;
  }
  header .header-content .search-bar-dropdown img {
    width: 1vw;
  }
  header .header-content .search-bar-dropdown-heading {
    height: inherit;
  }
  header .header-content .search-bar-dropdown ul {
    width: 100%;
  }
  header .header-content .search-bar button {
    width: 3.5vw;
    height: inherit;
  }
  header .header-content .search-bar button img {
    width: 1.2vw;
  }
  header .header-content .user-buttons {
    width: 236px;
  }
  header .header-content .user-buttons .authentication {
    font-weight: 300;
    font-size: 20px;
    line-height: 24.2px;
    margin-right: 36px;
  }
  header .header-content .user-buttons .nav-icons {
    width: 65px;
  }
  header .header-content .user-buttons .nav-icons .cart-number {
    width: 30px;
    height: 30px;
    top: -16px;
    right: -13px;
  }
  header .header-content .user-buttons .hamburger-menu {
    display: none;
  }
  .navbar {
    min-height: 76px;
  }
  .navbar-content {
    max-width: 1760px;
  }
  .navbar-content .categories {
    width: 21%;
    height: 76px;
  }
  .navbar-content .categories-content,
  .navbar-content .categories ul {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
  }
  .navbar-content .categories ul {
    padding-left: 0;
  }
  .navbar-content .categories ul li {
    padding: 1vw 0;
  }
  .navbar-content .menus {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .navbar-content .menus-title {
    width: 130px;
  }
  .navbar-content .menus .navbar-title {
    height: 56px;
  }
  .navbar-content .menus-level-1 {
    top: 75px;
  }
  .navbar-content .menus-level-2,
  .navbar-content .menus-level-3 {
    left: 100%;
  }
  .navbar-content .contact {
    width: 17%;
    height: 76px;
    padding-right: 10px;
  }
  .navbar-content .contact-content img {
    height: 40px;
    margin-right: 2vw;
  }
  .navbar-content .contact-content p,
  .navbar-content .contact-content a {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
  }
  .navbar-content .contact-content a {
    font-weight: 500;
  }
  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  footer .footer {
    max-width: 1800px;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 58px 0 84px;
    border-bottom: 1px solid white;
  }
  footer .footer-content > * + * {
    margin-left: 20px;
  }
  footer .footer-content-dropdown h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 29px;
  }
  footer .footer-content-dropdown h4 i {
    display: none;
  }
  footer .footer-content-dropdown ul,
  footer .footer-content-dropdown p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  footer .footer-content-dropdown ul {
    padding: 0;
    margin: 0;
  }
  footer .footer-content .about {
    width: 19vw;
  }
  footer .footer-content .about p {
    padding-bottom: 13px;
  }
  footer .footer-content .about .social-icons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: flex-end;
    -moz-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 48.31px;
  }
  footer .footer-content .about .social-icons > * + * {
    margin-left: 1vw;
  }
  footer .footer-content .about .social-icons img:hover {
    padding-bottom: 17px;
  }
  footer .footer-content .links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  footer .footer-content .links > * + * {
    margin-left: 6.5vw;
  }
  footer .footer-content .links-container ul li {
    padding-bottom: 5px;
  }
  footer .footer-content .contact {
    max-width: 18vw;
  }
  footer .footer-content .contact ul li {
    padding-bottom: 21px;
  }
  footer .footer-content .contact ul li:not(.email) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -moz-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  footer .footer-content .contact ul li:not(.email) img {
    margin-right: 4px;
  }
  footer .footer-content .contact ul li a {
    font-weight: 500;
  }
  footer .copyright {
    padding: 46px 0;
  }
  footer .copyright .cards {
    padding-bottom: 20px;
  }
  footer .copyright .cards > * + * {
    margin-left: 9px;
  }
  footer .copyright .credits {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  footer .copyright .credits img {
    margin-right: 6px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  .page-title {
    height: 256px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    padding-bottom: 20px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.15em;
  }
  .content {
    max-width: 1802px;
  }
  .content .product {
    max-width: 1665px;
    margin: 96px 0 140px;
  }
  .content .product-container {
    max-width: 927px;
    width: 100%;
    margin-right: 34px;
  }
  .content .product-thumbnail {
    margin-right: 34px;
  }
  .content .product-thumbnail-img {
    max-width: 200px;
    max-height: 151px;
    width: 100%;
    height: 100%;
    margin-bottom: 39px;
  }
  .content .product-thumbnail-img img {
    width: 75%;
  }
  .content .product-image {
    margin-bottom: 50px;
    max-width: 693px;
    width: 100%;
  }
  .content .product-image-show {
    max-width: 695px;
    max-height: 715px;
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
  }
  .content .product-image-show img {
    width: 90%;
    filter: drop-shadow(0px 40px 40px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .content .product-details {
    max-width: 700px;
    width: 100%;
  }
  .content .product-details .attributes {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 7px;
  }
  .content .product-details .attributes li {
    padding-bottom: 13px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
  .content .product-details .ratings img {
    padding-right: 5px;
  }
  .content .product-details .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 17px 20px;
  }
  .content .product-details .description li {
    padding-bottom: 13px;
  }
  .content .product-details .size {
    max-width: 666px;
    padding-top: 32px;
  }
  .content .product-details .size button {
    width: 200px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .content .product-details .size .active {
    font-weight: 400;
  }
  .content .product-details .price p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 13px;
  }
  .content .product-details .price h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }
  .content .product-details .price h3 span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .product-details .buy {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 666px;
    max-height: 60px;
    width: 100%;
    height: 100%;
  }
  .content .product-details .buy .quantity {
    max-width: 202px;
    max-height: 60px;
    margin-right: 10px;
  }
  .content .product-details .buy .quantity button {
    width: 64px;
    font-size: 40px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: 74px;
  }
  .content .product-details .buy button {
    max-width: 202px;
    max-height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 10px;
  }
  .content .details-title {
    width: 608px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 23px;
  }
  .content .details-text {
    padding-top: 38px;
    min-height: 421px;
  }
  .content .details-text-content {
    width: 57%;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .content .details-text-content p {
    padding-bottom: 35px;
  }
  .content .details-text-content th,
  .content .details-text-content td,
  .content .details-text-content .review-container {
    padding: 20px;
  }
  .content .details-text-content .review-container {
    margin: 20px 0;
    border: 1px solid #F0F0F0;
  }
  .content .details-text-content .review-container .stars img {
    height: 20px;
  }
  .content .related-products {
    margin: 52px 0 163px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 96px;
  }
  .content .related-products-all > * + *,
  .content .related-products-group > * + * {
    margin-left: 1.5vw;
  }
  .content .related-products-all {
    max-width: 1762px;
    width: 100%;
  }
  .content .related-products-group {
    max-width: 866px;
    width: 100%;
    padding-bottom: 30px;
  }
  .content .related-products-container {
    max-width: 418px;
    width: 100%;
  }
  .content .related-products-container-item {
    padding-bottom: 28px;
  }
  .content .related-products-container-item .top-btn {
    padding: 20px 20px 3vw;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    height: 26px;
    max-width: 140px;
    padding: 5px 20px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 60px;
    height: 60px;
  }
  .content .related-products-container-item .quick-view {
    right: 39px;
    top: 104px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 33px;
    top: -6px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 97px;
    height: 39px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #6F6F6F;
    left: -3px;
    position: relative;
  }
  .content .related-products-container-item .image {
    height: 300px;
  }
  .content .related-products-container-item .image img {
    max-width: 300px;
    width: 80%;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 35px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    max-width: 248px;
    width: 80%;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .related-products-container-item .add-to-cart-btn button img {
    margin-right: 9px;
  }
  .content .related-products-container-details {
    padding-top: 38px;
  }
  .content .related-products-container-details h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 13px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .content .related-products-container-details h4 span {
    padding-left: 14px;
  }
  .content .related-products .navigation {
    width: 86px;
    padding-top: 39px;
  }
  .content .related-products .navigation-btn {
    width: 14px;
    height: 14px;
  }
  .newsletter {
    min-height: 120px;
  }
  .newsletter-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -moz-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 1518px;
    padding: 15px;
  }
  .newsletter-caption {
    margin-right: 20px;
  }
  .newsletter-caption img {
    padding-right: 33px;
  }
  .newsletter-text h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 4px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter form {
    width: 50%;
    height: 73px;
  }
  .newsletter form input,
  .newsletter form button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .newsletter form input {
    width: 60%;
    padding: 0 2vw;
  }
  .newsletter form button {
    width: 40%;
    font-weight: 600;
  }
}
