@less: 'D:/BSIT/4THYEAR/OJT/FRONTEND/product_details/less';

@import '@{less}/text-styles/text-styles.less';
@import '@{less}/text-styles/colors.less';
@import '@{less}/flex/flex.less';
@import '@{less}/measurements/width-height.less';

footer {
	.footer {
		&-content {
			padding-top: 29px;

			&-dropdown {
				h4, ul, p {
					#text-styles(500, 10px, 12px);
				}

				h4 {
					.flex();
					.justify-content(space-between);
					.align-items(center);
					background: @color[doveGray];
					padding: 0 12px;
					height: 31px;
					cursor: pointer;

					i {
						display: block !important;
						font-size: 20px;
					}
				}

				ul {
					display: none;
					font-weight: 400;
					padding: 20px 20px 10px;
					margin: 0;
					background: gray;

					li {
						padding-bottom: 10px;
					}
				}
			}

			.about {
				padding-bottom: 21px;

				&-content {
					display: none;
					padding: 20px;
					background: gray;

					p {
						text-align: justify;
						padding-bottom: 10px;
					}

					.social-icons {
						.flex();
						.justify-content(center);
						.align-items(center);

						img {
							#width-height(20px, 20px);
						}

						& > * + * {
							margin-left: 10px;
						}
					}
				}
			}

			.links {
				&-container {
					padding-bottom: 21px;
				}
			}

			.contact {
				ul {
					li {
						&:not(.email){
							.flex();
							.align-items(center);
							& > * + * {
								margin-left: 4px;
							}
						}

						a {
							font-weight: 500;
						}

						img {
							#width-height(20px, 20px);
						}
					}
				}
			}
		}
	}

	.copyright {
		padding: 27px 0 42px;

		.cards {
			padding-bottom: 15px;

			& > * + * {
				margin-left: 5px;
			}

			img {
				width: 20px;
			}
		}

		.credits {
			#text-styles(400, 6px, 6px);

			img {
				width: 10px;
				margin-right: 3px;
			}
		}
	}
}