h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
footer .footer-content {
  padding-top: 29px;
}
footer .footer-content-dropdown h4,
footer .footer-content-dropdown ul,
footer .footer-content-dropdown p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
footer .footer-content-dropdown h4 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -moz-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #6F6F6F;
  padding: 0 12px;
  height: 31px;
  cursor: pointer;
}
footer .footer-content-dropdown h4 i {
  display: block !important;
  font-size: 20px;
}
footer .footer-content-dropdown ul {
  display: none;
  font-weight: 400;
  padding: 20px 20px 10px;
  margin: 0;
  background: gray;
}
footer .footer-content-dropdown ul li {
  padding-bottom: 10px;
}
footer .footer-content .about {
  padding-bottom: 21px;
}
footer .footer-content .about-content {
  display: none;
  padding: 20px;
  background: gray;
}
footer .footer-content .about-content p {
  text-align: justify;
  padding-bottom: 10px;
}
footer .footer-content .about-content .social-icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -moz-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
footer .footer-content .about-content .social-icons img {
  width: 20px;
  height: 20px;
}
footer .footer-content .about-content .social-icons > * + * {
  margin-left: 10px;
}
footer .footer-content .links-container {
  padding-bottom: 21px;
}
footer .footer-content .contact ul li:not(.email) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -moz-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
footer .footer-content .contact ul li:not(.email) > * + * {
  margin-left: 4px;
}
footer .footer-content .contact ul li a {
  font-weight: 500;
}
footer .footer-content .contact ul li img {
  width: 20px;
  height: 20px;
}
footer .copyright {
  padding: 27px 0 42px;
}
footer .copyright .cards {
  padding-bottom: 15px;
}
footer .copyright .cards > * + * {
  margin-left: 5px;
}
footer .copyright .cards img {
  width: 20px;
}
footer .copyright .credits {
  font-weight: 400;
  font-size: 6px;
  line-height: 6px;
}
footer .copyright .credits img {
  width: 10px;
  margin-right: 3px;
}
