h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
footer .footer-content {
  padding-top: 29px;
}
footer .footer-content .about {
  padding-bottom: 21px;
}
footer .footer-content .about h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  background: #6F6F6F;
  padding: 0 12px;
  height: 31px;
  cursor: pointer;
}
footer .footer-content .about h4 i {
  display: block !important;
  font-size: 20px;
}
footer .footer-content .about-content {
  display: none;
  padding: 20px;
  background: gray;
}
footer .footer-content .about-content p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: justify;
  padding-bottom: 10px;
}
footer .footer-content .about-content .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .footer-content .about-content .social-icons img {
  width: 20px;
  height: 20px;
}
footer .footer-content .footer-dropdown h4,
footer .footer-content .footer-dropdown ul {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
footer .footer-content .footer-dropdown h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6F6F6F;
  padding: 0 12px;
  height: 31px;
  cursor: pointer;
}
footer .footer-content .footer-dropdown h4 i {
  display: block !important;
  font-size: 20px;
}
footer .footer-content .footer-dropdown ul {
  display: none;
  font-weight: 400;
  padding: 20px 20px 10px;
  margin: 0;
  background: gray;
}
footer .footer-content .footer-dropdown ul li {
  padding-bottom: 10px;
}
footer .footer-content .links-container {
  padding-bottom: 21px;
}
footer .footer-content .contact ul li:not(.email) {
  display: flex;
  align-items: center;
  gap: 4px;
}
footer .footer-content .contact ul li a {
  font-weight: 500;
}
footer .footer-content .contact ul li img {
  width: 20px;
  height: 20px;
}
footer .copyright {
  padding: 27px 0 42px;
  gap: 15px;
}
footer .copyright .cards {
  gap: 5px;
}
footer .copyright .cards img {
  width: 20px;
}
footer .copyright .credits {
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;
  gap: 3px;
}
footer .copyright .credits img {
  width: 10px;
}
