h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.hamburger-menu-content {
  width: 100vw;
  height: 100vh;
  background: #2F333A;
  z-index: 5;
  padding: 20px 20px 100px;
}
.hamburger-menu-content .menus {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin: 0;
  padding: 0;
}
.hamburger-menu-content .menus-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu-content .menus li {
  padding-bottom: 20px;
}
.hamburger-menu-content .menus li:nth-child(1) {
  padding-top: 10px;
}
.hamburger-menu-content .menus li:last-child {
  padding-bottom: 0;
}
.hamburger-menu-content .menus li ul {
  padding-left: 20px;
}
.hamburger-menu-content .menus .active {
  color: #E73C17;
}
.hamburger-menu-content .contact-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding-top: 50px;
  text-align: center;
}
