@less: 'D:/BSIT/4THYEAR/OJT/FRONTEND/product_details/less';

@import '@{less}/text-styles/text-styles.less';
@import '@{less}/text-styles/colors.less';
@import '@{less}/flex/flex.less';
@import '@{less}/measurements/width-height.less';

.content {
	max-width: 360px;

	.product {
		max-width: inherit;
		margin: 30px 0 37px;

		&-container {
			justify-content: center;
			flex-wrap: wrap;
		}

		&-thumbnail {
			display: flex;
			gap: 15px;
			padding-bottom: 15px;

			&-img {
				#width-height(83px, 89px);

				img {
					width: 80%;
				}

				&:nth-child(1) {
					display: none;
				}

				.active {
					border: 1px solid @color[pomegranate];
				}
			}
		}

		&-image {
			.order(-1);

			&-show {
				#width-height(280px, 241px);
				margin-bottom: 7px;

				img {
					width: 108%;
					filter: drop-shadow(0px 10px 10px fade(@color[codGray], 60%));
				}
			}

			&-name {
				#text-styles(300, 6px, 7px);
				padding-bottom: 13px;
			}
		}

		&-details {
			.attributes {
				#text-styles(300, 8px, 10px);
				padding: 0 0 3px;

				li {
					padding-bottom: 7px;
				}
			}

			h2 {
				#text-styles(500, 13px, 16px);
				padding-bottom: 3px;
			}

			.ratings {
				img {
					width: 10px;
				}
			}

			.description {
				#text-styles(300, 8px, 10px);
				padding: 9px 0 10px 11px;

				li {
					padding-bottom: 10px;
				}
			}

			.size {
				display: flex;
				gap: 6px;
				height: 87px;
				padding: 16px 0;

				button {
					#width-height(66px, 24px);
					#text-styles(300, 7px, 8px);
					margin-bottom: 2px;
				}

				.active {
					font-weight: 500;
				}
			}

			.price {
				p {
					#text-styles(300, 7px, 8px);
					padding: 8px 0 9px;
				}

				h3 {
					#text-styles(500, 13px, 16px);
					padding-bottom: 16px;

					span {
						font-size: 10px;
						padding-left: 5px;
					}
				}
			}

			.buy {
				.quantity {
					#width-height(70px, 25px);
					margin-right: 10px;

					button {
						width: 22px;
						font-size: 15px;
					}

					&-number {
						#text-styles(500, 10px, 12px);
						width: 25px;
					}
				}

				button {
					#width-height(70px, 25px);
					#text-styles(500, 8px, 10px);	
				}

				&-now-btn {
					margin-right: 10px;
				}
			}
		}
	}

	.details {
		&-title {
			#flex.space-between(center);
			width: 202px;

			h2 {
				#text-styles(500, 10px, 12px);
				padding-bottom: 7px;
			}
		}

		&-text {
			padding-top: 16px;

			&-content {
				#text-styles(300, 8px, 10px);

				p {
					padding-bottom: 20px;
				}

				li {
					padding-bottom: 10px;

					&:nth-child(n + 3){
						display: none;
					}

					span {
						display: block !important;
					}
				}

				th, td {
					padding: 10px;
				}

				.review-container {
					margin: 10px 0;
					padding: 10px;

					.stars img {
						height: 10px;
					}
				}
			}
		}
	}

	.related-products {
		margin: 35px 0 59px;

		h2 {
			#text-styles(500, 10px, 12px);
			padding-bottom: 20px;
		}

		&-group {
			gap: 16px;

			&:nth-child(2) {
				display: none;
			}
		}

		&-container {
			width: 132px;

			&-item {
				padding-bottom: 13px;

				.top-btn {
					padding: 9px 9px 23px;

					h6 {
						#text-styles(500, 6px, 6px);
						height: 11px;
						min-width: 31px;
						padding: 0 9px;
					}

					.heart {
						#width-height(20px, 20px);

						img {
							#width-height(10px, 10px);	
						}
					}
				}

				.quick-view {
					right: 14px;
					top: 30px;

					img {
						#width-height(10px, 10px);
					}

					.text {
						right: 13px;
						top: 1px;

						h6 {
							#text-styles(400, 6px, 6px);
							#width-height(45px, 19px);
						}

						.arrow {
							height: 4px;
							border-top: 4px solid transparent;
							border-bottom: 4px solid transparent;
							border-left: 4px solid @color[doveGray];
						}
					}
				}

				.image {
					height: 106px;

					img {
						width: 85%;
					}
				}

				.add-to-cart-btn {
					padding-top: 9px;

					button {
						#width-height(97px, 25px);
						#text-styles(500, 8px, 10px);
						gap: 3px;

						img {
							width: 10px;
						}
					}
				}
			}

			&-details {
				padding-top: 12px;

				h3 {
					#text-styles(400, 8px, 10px);
					padding-bottom: 4px;
				}

				h4 {
					#text-styles(600, 10px, 12px);

					span {
						padding-left: 5px;
					}
				}
			}
		}

		.navigation {
			width: 46px;
			padding-top: 21px;

			&-btn {
				#width-height(6px, 6px);

				&:nth-child(5) {
					display: block !important;
				}
			}
		}
	}
}