@media only screen and (min-width: 767.6px) and (max-width: 1024.5px) {
  header .header-top {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    height: 50px;
  }
  header .header-top .lang-currency {
    width: 120px;
  }
  header .header-container {
    min-height: 100px;
  }
  header .header-content h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  header .header-content .search-bar {
    width: 400px;
    height: 60px;
  }
  header .header-content .search-bar input {
    width: 70%;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    padding: 0 20px;
  }
  header .header-content .search-bar-dropdown {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    width: 160px;
  }
  header .header-content .search-bar-dropdown-heading {
    height: 60px;
  }
  header .header-content .search-bar-dropdown ul {
    width: 120px;
  }
  header .header-content .search-bar button {
    width: 60px;
    height: 60px;
  }
  header .header-content .user-buttons {
    width: 160px;
  }
  header .header-content .user-buttons .authentication {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
  }
  header .header-content .user-buttons .nav-icons {
    width: 45px;
  }
  header .header-content .user-buttons .nav-icons img {
    width: 17px;
  }
  header .header-content .user-buttons .nav-icons .cart-number {
    font-size: 12px;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -6px;
  }
  header .header-content .user-buttons .hamburger-menu {
    display: none;
  }
  .navbar {
    height: 60px;
  }
  .navbar-content {
    height: inherit;
  }
  .navbar-content .categories {
    width: 150px;
    height: inherit;
  }
  .navbar-content .categories-content,
  .navbar-content .categories ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }
  .navbar-content .categories-content {
    width: inherit;
  }
  .navbar-content .categories ul {
    padding: 10px 10px 10px 30px;
  }
  .navbar-content .categories ul li {
    padding: 10px 0;
  }
  .navbar-content .menus {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
  .navbar-content .menus-title {
    width: 90px;
  }
  .navbar-content .menus .navbar-title {
    height: 50px;
  }
  .navbar-content .menus-level-1 {
    top: 55px;
  }
  .navbar-content .menus-level-2,
  .navbar-content .menus-level-3 {
    top: 0;
  }
  .navbar-content .menus-level-2 {
    left: 65px;
  }
  .navbar-content .menus-level-3 {
    left: 85px;
  }
  .navbar-content .contact {
    height: inherit;
  }
  .navbar-content .contact-content {
    width: 140px;
    padding: 0 10px;
  }
  .navbar-content .contact-content img {
    width: 25px;
  }
  .navbar-content .contact-content p {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
  }
  .navbar-content .contact-content a {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }
  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  footer .footer {
    max-width: 1800px;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0 70px;
    border-bottom: 1px solid white;
  }
  footer .footer-content-dropdown h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 25px;
  }
  footer .footer-content-dropdown h4 i {
    display: none;
  }
  footer .footer-content-dropdown p,
  footer .footer-content-dropdown ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
  footer .footer-content-dropdown ul {
    padding: 0;
    margin: 0;
  }
  footer .footer-content .about {
    padding-bottom: 20px;
  }
  footer .footer-content .about p {
    padding-bottom: 20px;
  }
  footer .footer-content .about .social-icons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: flex-end;
    -moz-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  footer .footer-content .about .social-icons > * + * {
    margin-left: 20px;
  }
  footer .footer-content .links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 60%;
  }
  footer .footer-content .links-container ul li {
    padding-bottom: 13px;
  }
  footer .footer-content .contact {
    max-width: 30%;
  }
  footer .footer-content .contact ul li {
    padding-bottom: 18px;
  }
  footer .footer-content .contact ul li:not(.email) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -moz-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  footer .footer-content .contact ul li:not(.email) img {
    margin-right: 4px;
  }
  footer .footer-content .contact ul li a {
    font-weight: 500;
  }
  footer .copyright {
    padding: 35px 0;
  }
  footer .copyright .cards {
    margin-bottom: 15px;
  }
  footer .copyright .cards > * + * {
    margin-left: 6px;
  }
  footer .copyright .credits {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  footer .copyright .credits img {
    margin-right: 4px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  .page-title {
    height: 200px;
  }
  .page-title h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
    padding-bottom: 15px;
  }
  .page-title p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .content {
    max-width: 1064px;
  }
  .content .product {
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0;
  }
  .content .product-container {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 728px;
  }
  .content .product-thumbnail-img {
    width: 157px;
    height: 118px;
    margin-bottom: 31px;
  }
  .content .product-thumbnail-img img {
    width: 75%;
  }
  .content .product-image {
    margin-bottom: 30px;
  }
  .content .product-image-show {
    width: 535px;
    height: 564px;
    margin-bottom: 36px;
  }
  .content .product-image-show img {
    width: 90%;
    filter: drop-shadow(0px 30px 30px rgba(25, 25, 25, 0.6));
  }
  .content .product-image-name {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .content .product-details {
    max-width: 700px;
  }
  .content .product-details .attributes,
  .content .product-details .description {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .attributes {
    padding: 0 0 7px;
  }
  .content .product-details .attributes li {
    padding-bottom: 13px;
  }
  .content .product-details h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
  }
  .content .product-details .ratings img {
    padding-right: 5px;
  }
  .content .product-details .description {
    padding: 20px 0 17px 20px;
  }
  .content .product-details .description li {
    padding-bottom: 13px;
  }
  .content .product-details .size {
    max-width: 666px;
    height: 178px;
    padding: 32px 0;
  }
  .content .product-details .size button {
    width: 200px;
    height: 60px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .content .product-details .size .active {
    font-weight: 400;
  }
  .content .product-details .price p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 13px;
  }
  .content .product-details .price h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 15px;
  }
  .content .product-details .price h3 span {
    font-size: 24px;
    padding-left: 11px;
  }
  .content .product-details .buy .quantity,
  .content .product-details .buy button {
    width: 202px;
    height: 60px;
  }
  .content .product-details .buy .quantity {
    margin-right: 30px;
  }
  .content .product-details .buy .quantity button {
    width: 64px;
    font-size: 40px;
  }
  .content .product-details .buy .quantity-number {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: 74px;
  }
  .content .product-details .buy button {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .content .product-details .buy-now-btn {
    margin-right: 30px;
  }
  .content .details-title {
    width: 550px;
  }
  .content .details-title h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 18px;
  }
  .content .details-text {
    padding-top: 30px;
    min-height: 400px;
  }
  .content .details-text-content {
    width: 70%;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
  .content .details-text-content p {
    padding-bottom: 30px;
  }
  .content .details-text-content th,
  .content .details-text-content td,
  .content .details-text-content .review-container {
    padding: 18px;
  }
  .content .details-text-content .review-container {
    margin: 18px 0;
  }
  .content .details-text-content .review-container .stars img {
    height: 20px;
  }
  .content .related-products {
    margin: 45px 0 100px;
  }
  .content .related-products h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 85px;
  }
  .content .related-products-all {
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content .related-products-group {
    width: 700px;
    margin-bottom: 25px;
  }
  .content .related-products-group > * + * {
    margin-left: 25px;
  }
  .content .related-products-container {
    width: 400px;
  }
  .content .related-products-container-item {
    padding-bottom: 25px;
  }
  .content .related-products-container-item .top-btn {
    padding: 20px 20px 45px;
  }
  .content .related-products-container-item .top-btn h6 {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    height: 20px;
    min-width: 60px;
    padding: 0 16px;
  }
  .content .related-products-container-item .top-btn .heart {
    width: 50px;
    height: 50px;
  }
  .content .related-products-container-item .quick-view {
    right: 39px;
    top: 85px;
  }
  .content .related-products-container-item .quick-view .text {
    right: 33px;
    top: -6px;
  }
  .content .related-products-container-item .quick-view .text h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 97px;
    height: 39px;
  }
  .content .related-products-container-item .quick-view .text .arrow {
    height: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #6F6F6F;
    left: -3px;
    position: relative;
  }
  .content .related-products-container-item .image {
    height: 200px;
  }
  .content .related-products-container-item .add-to-cart-btn {
    padding-top: 30px;
  }
  .content .related-products-container-item .add-to-cart-btn button {
    width: 240px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .content .related-products-container-item .add-to-cart-btn button img {
    margin-right: 8px;
  }
  .content .related-products-container-details {
    padding-top: 30px;
  }
  .content .related-products-container-details h3,
  .content .related-products-container-details h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  .content .related-products-container-details h3 {
    padding-bottom: 10px;
  }
  .content .related-products-container-details h4 {
    font-weight: 600;
  }
  .content .related-products-container-details h4 span {
    padding-left: 10px;
  }
  .content .related-products .navigation {
    width: 80px;
    padding-top: 65px;
  }
  .content .related-products .navigation-btn {
    width: 10px;
    height: 10px;
  }
  .newsletter {
    min-height: 120px;
  }
  .newsletter-container {
    max-width: 1024px;
    padding: 15px 20px;
  }
  .newsletter-caption {
    padding-bottom: 20px;
  }
  .newsletter-caption img {
    padding-right: 30px;
  }
  .newsletter-text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 4px;
  }
  .newsletter-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  .newsletter form {
    width: 90%;
    height: 65px;
  }
  .newsletter form input,
  .newsletter form button {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding: 0 35px;
  }
  .newsletter form button {
    width: 250px;
    font-weight: 600;
  }
}
