footer {
  background: #2F333A;
  color: white;
}
footer .footer {
  margin: auto;
  padding: 0 20px;
}
footer .footer-content .about .social-icons img {
  cursor: pointer;
}
footer .footer-content .contact ul {
  margin: 0;
}
footer .footer-content .contact ul li a {
  color: #E73C17;
}
footer .copyright {
  flex-flow: column;
}
footer .copyright,
footer .cards,
footer .credits {
  display: flex;
  align-items: center;
}
